@model Hospital_Management.Models.facilityappoinment

@{
    ViewBag.Title = "facility_appoinment_details_for_patient";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Facility Appoinment Details</h2>

<div>
    <h4>facilityappoinment</h4>
    <hr />
    <dl class="dl-horizontal">
        @*<dt>
                @Html.DisplayNameFor(model => model.HospitalAdmin.Hadmin_ID)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.HospitalAdmin.Hadmin_ID)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Patient.Patient_ID)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Patient.Patient_ID)
            </dd>*@
        @*<dt>
                @Html.DisplayNameFor(model => model.ID)
            </dt>*@
        <dt>
            @Html.DisplayNameFor(model => model.Appoinment_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Appoinment_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Facility_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Facility_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hospital_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hospital_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.status)
        </dd>

    </dl>
</div>
@*<p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
        @Html.ActionLink("Back to List", "Index")
    </p>*@
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<center>
    <div>
        @Html.ActionLink("Log Out", "Logout", "Home", null, new { @class = "btn btn-primary btn-large" })
    </div>
</center>