@model IEnumerable<Hospital_Management.Models.Hospital>

@{
    ViewBag.Title = "hospitaldetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>hospitaldetails</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        @*<th>
            @Html.DisplayNameFor(model => model.Doctor.Doctor_ID)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.Hospital_ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Hospital_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Hospital_address)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    @*<td>
            @Html.DisplayFor(modelItem => item.Doctor.Doctor_ID)
        </td>*@
    <td>
        @Html.DisplayFor(modelItem => item.Hospital_ID)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Hospital_name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Hospital_address)
    </td>
    @*<td>
        @Html.ActionLink("Edit", "Edit", new { id = item.Hospital_ID }) |
        @Html.ActionLink("Details", "Details", new { id = item.Hospital_ID }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.Hospital_ID })
    </td>*@
</tr>
}

</table>
